$custom-font-size: 16px;
$black: #000000;
$white: #ffffff; // Banner bkg, search box bkg, current page link
$dark_grey: #8A7456; // footer links 
$light_grey: #f3f4f7; // left sidebar bkg, page title bkg, `` fill, code block bkg
$orange: #B74B63; // ?
$red_orange: #B74B63; // link colour, main pigment
$medium_grey: #f3f4f7; // ?
$not_quite_black: #414656; // title font colour, doc string font colour
$slate: #414656; // ?
$very_light_grey: #f3f4f7; // ?
$very_dark_grey: #CCCDD1; // ?
$content_text_color: #6c6c6d; // `` font colour
$code_background_color: #f3f4f7; // ?
$dark_blue: #314A6B; // ?
$quick_start_grey: #6c6c6d; // side bar link font colour
$command_block_black: #6c6c6d; // ?
$smoky_grey: #CCCDD1; // ?
$medium_smoky_grey: #CCCDD1; // ?
$code_link_color: #3C6FBD; // code link font colour

// Turquiose
// $custom-font-size: 16px;
// $black: #000000;
// $white: #ffffff; // Banner bkg, search box bkg, current page link
// $dark_grey: #8A7456; // footer links 
// $light_grey: #f3f4f7; // left sidebar bkg, page title bkg, `` fill, code block bkg
// $orange: #48AFF1; // ?
// $red_orange: #00B5BE; // link colour, main pigment
// $medium_grey: #f3f4f7; // ?
// $not_quite_black: #262626; // title font colour, doc string font colour
// $slate: #262626; // ?
// $very_light_grey: #f3f4f7; // ?
// $very_dark_grey: #CCCDD1; // ?
// $content_text_color: #6c6c6d; // `` font colour
// $code_background_color: #f3f4f7; // ?
// $dark_blue: #314A6B; // ?
// $quick_start_grey: #6c6c6d; // side bar link font colour
// $command_block_black: #6c6c6d; // ?
// $smoky_grey: #CCCDD1; // ?
// $medium_smoky_grey: #CCCDD1; // ?
// $code_link_color: #0870AE; // code link font colour

// Light blue
// $custom-font-size: 16px;
// $black: #000000;
// $white: #ffffff; // Banner bkg, search box bkg, current page link
// $dark_grey: #6D92E3; // footer links 
// $light_grey: #f3f4f7; // left sidebar bkg, page title bkg, `` fill, code block bkg
// $orange: #48AFF1; // ?
// $red_orange: #48AFF1; // link colour, main pigment
// $medium_grey: #f3f4f7; // ?
// $not_quite_black: #262626; // title font colour
// $slate: #262626; // ?
// $very_light_grey: #f3f4f7; // ?
// $very_dark_grey: #CCCDD1; // ?
// $content_text_color: #6c6c6d; // `` font colour
// $code_background_color: #f3f4f7; // ?
// $dark_blue: #314A6B; // ?
// $quick_start_grey: #6c6c6d; // side bar link font colour
// $command_block_black: #6c6c6d; // ?
// $smoky_grey: #CCCDD1; // ?
// $medium_smoky_grey: #CCCDD1; // ?
// $code_link_color: #9367BC; // code link font colour

// Mauve
// $black: #000000;
// $white: #ffffff;
// $dark_grey: #2F4858;
// $light_grey: #f3f4f7;
// $orange: #8A3471;
// $red_orange: #A52359; // link colour
// $medium_grey: #f3f4f7;
// $not_quite_black: #262626;
// $slate: #262626;
// $very_light_grey: #f3f4f7;
// $very_dark_grey: #CCCDD1;
// $content_text_color: #6c6c6d;
// $code_background_color: #f3f4f7;
// $dark_blue: #314A6B;
// $quick_start_grey: #6c6c6d;
// $command_block_black: #6c6c6d;
// $smoky_grey: #CCCDD1;
// $medium_smoky_grey: #CCCDD1;
// $code_link_color: #784776;

// Original
// $custom-font-size: 16px;
// $black: #000000;
// $white: #ffffff;
// $dark_grey: #6c6c6d;
// $light_grey: #f3f4f7;
// $orange: #e44c2c;
// $red_orange: #ee4c2c;
// $medium_grey: #f3f4f7;
// $not_quite_black: #262626;
// $slate: #262626;
// $very_light_grey: #f3f4f7;
// $very_dark_grey: #CCCDD1;
// $content_text_color: #6c6c6d;
// $code_background_color: #f3f4f7;
// $dark_blue: #3d5a97;
// $quick_start_grey: #6c6c6d;
// $command_block_black: #6c6c6d;
// $smoky_grey: #CCCDD1;
// $medium_smoky_grey: #CCCDD1;
// $code_link_color: #4974D1;

$desktop_menu_width: 350px;

$desktop_header_height: 90px;
$mobile_header_height: 68px;
$desktop_footer_height: 420px;
$site_horizontal_padding: 30px;

$baseurl: "";

@mixin code_font_family {
  font-family: IBMPlexMono,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

@mixin desktop {
  @media screen and (min-width: 768px) { @content; }
}

@mixin full-nav-menu-desktop {
  @media screen and (min-width: 1100px) { @content; }
}

@mixin max-width-desktop {
  @media screen and (min-width: 1240px) { @content; }
}

@mixin small-desktop {
  @media (min-width: 768px) and (max-width: 1239px) { @content; }
}

@function rem($px) {
  @return ($px / 16px) * 1rem;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    *zoom: 1;
  }
}

@mixin default_link_styles {
  a:link,
  a:visited,
  a:hover {
    color: $orange;
    text-decoration: none;
  }

  @include desktop {
    a:hover {
      text-decoration: underline;
    }
  }
}

@mixin animated_border_hover_state {
  @include desktop {
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $orange;
      transition: width .250s ease-in-out;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
