{%- set external_urls = {
  'github': 'https://github.com/GilesStrong/mode_muon_tomography',
  'github_issues': 'https://github.com/GilesStrong/mode_muon_tomography/issues',
  'contributing': 'https://github.com/GilesStrong/mode_muon_tomography/blob/main/CONTRIBUTING.md',
  'change_log': 'https://github.com/GilesStrong/mode_muon_tomography/blob/main/CHANGES.md',
  'docs': 'https://tomopt.readthedocs.io/en/stable',
  'twitter': '',
  'facebook': '',
  'slack': '',
  'discuss': '',
  'tutorials': 'https://github.com/GilesStrong/mode_muon_tomography#examples',
  'previous_pytorch_versions': '',
  'home': 'https://tomopt.readthedocs.io/en/stable',
  'get_started': '',
  'features': '',
  'ecosystem': '',
  'blog': '',
  'resources': '',
  'support': '',
  'citation': 'https://github.com/GilesStrong/mode_muon_tomography/blob/main/CITATION.md',
}
-%}