{%- set external_urls = {
  'github': 'https://github.com/GilesStrong/lumin',
  'github_issues': 'https://github.com/GilesStrong/lumin/issues',
  'contributing': 'https://github.com/GilesStrong/lumin/blob/master/CONTRIBUTING.md',
  'change_log': 'https://github.com/GilesStrong/lumin/blob/master/CHANGES.md',
  'docs': 'https://lumin.readthedocs.io/',
  'twitter': '',
  'facebook': '',
  'slack': '',
  'discuss': '',
  'tutorials': 'https://github.com/GilesStrong/lumin/tree/master/examples',
  'previous_pytorch_versions': '',
  'home': 'https://lumin.readthedocs.io/',
  'get_started': '',
  'features': '',
  'ecosystem': '',
  'blog': '',
  'resources': '',
  'support': '',
  'citation': 'https://github.com/GilesStrong/lumin/blob/master/CITATION.md',
}
-%}